html{
    color : white;
}

body {
    text-align: center;

}

h1 {
    color: black;

}

a {
    text-decoration: none
}

.breaking {
    background-color: coral
}

.article {
    background-color: lightgrey
}
